:root, [data-theme="light"] {
    --menu-color: rgb(255,110,110);
    --text-color: rgb(55,45,45);
    --bg-color: rgb(243,243,243);
    --txtConfirmation-bg-color: rgb(218,218,218);
    --txtConfirmationArea-bg-color: rgb(255,251,255);
    --txtConfirmationArea-text-color: black;
    --numworksImg: url("../pics/numworksLight.png");
    --article-color: rgb(195, 195, 195);
}

[data-theme="dark"] {
    --menu-color: rgb(110,20,20);
    --text-color: rgb(200,210,210);
    --bg-color: rgb(12,12,12);
    --txtConfirmation-bg-color: rgb(37,37,37);
    --txtConfirmationArea-bg-color: rgb(0,4,0);
    --txtConfirmationArea-text-color: white;
    --numworksImg: url("../pics/numworksDark.png");
    --article-color: rgb(60, 60, 60);
}

body {
  background-color: var(--bg-color);
  text-align: center;
  color: var(--text-color);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#menu {
  background-color: var(--menu-color);
  border-radius: 13px;
  width: 60%;
  min-width: 1000px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3%;
  text-align: left;
}

#menu_name {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.7em;
  color: black;
}

#numworksLogo {
  float: right;
  width: auto;
  height: 100%;
  margin-right: 7px;
}

#container {
  display: inline-block;
  float:none;
  width: 60%;
  height: 100%;
  padding-top: 0px;
  min-width: 1000px;
}

#txtConfirmation {
  float: left;
  background-color: var(--txtConfirmation-bg-color);
  color: rgb(55,45,45);
  border-radius: 13px;
  width: 47%;
  height: 28vw;
  min-height: 470px;
  margin-right: 1.7%;
  display: block;
  background-image: var(--numworksImg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
}

#txtConfirmationArea {
  resize: none;
  background-color: var(--txtConfirmationArea-bg-color);
  z-index: 1;
  border: none;
  color: var(--txtConfirmationArea-text-color);
  position:absolute;
  bottom: 42.6%;
  width: 52.6%;
  height: 29.5%;
  transform: translateX(-50%);
}
#txtConfirmationArea:focus {
  outline: none !important;
}

#paypalBox {
  float: none;
  border-radius: 13px;
  width: 51%;
  height: 200px;
  background-color: white;
  display: flex;

  background-image: url("https://assets.blog.whmcs.com/paypal-smart-checkout-buttons.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
