:root, [data-theme="light"] {
    --menu-color: rgb(255,110,110);
    --text-color: rgb(55,45,45);
    --bg-color: rgb(243,243,243);
    --txtEditor-bg-color: rgb(218,218,218);
    --txtEditorSubDiv-bg-color:rgb(218,218,218);
    --txtEditorArea-bg-color: rgb(255,251,255);
    --txtEditorArea-text-color: black;
    --numworksImg: url("../pics/numworksLight.png");
    --imgEditor-bg-color: rgb(218,218,218);
    --inputFile-bg-color: rgb(175,175,175);
    --add_program-bg-color: rgb(215,65,65);
    --add_program-text-color: rgb(220,230,230);
    --add_program-bg-color-reveal: rgb(195,195,195);
    --add_program-text-color-reveal: rgb(55,45,45);
    --add_program-bg-color-green: rgb(120,220,120);
    --add_program-text-color-green: rgb(45,75,45);
    --AddProgramToButton-bg-color: rgb(55,55,200);
    --article-color: rgb(195, 195, 195);
}

[data-theme="dark"] {
    --menu-color: rgb(100,20,20);
    --text-color: rgb(200,210,210);
    --bg-color: rgb(12,12,12);
    --txtEditor-bg-color: rgb(37,37,37);
    --txtEditorSubDiv-bg-color: rgb(37,37,37);
    --txtEditorArea-bg-color: rgb(0,4,0);
    --txtEditorArea-text-color: white;
    --numworksImg: url("../pics/numworksDark.png");
    --imgEditor-bg-color: rgb(37,37,37);
    --inputFile-bg-color: rgb(80,80,80);
    --add_program-bg-color: rgb(190,40,40);
    --add_program-text-color: rgb(200,210,210);
    --add_program-bg-color-reveal: rgb(60,60,60);
    --add_program-text-color-reveal: rgb(200,210,210);
    --add_program-bg-color-green: rgb(50,130,50);
    --add_program-text-color-green: rgb(170,210,180);
    --AddProgramToButton-bg-color: rgb(50,50,200);
    --article-color: rgb(60, 60, 60);
}

body {
  background-color: var(--bg-color);
  text-align: center;
  color: var(--text-color);

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#container {
  display: inline-block;
  float:none;
  text-align: center;
  width: 60%;
  height: 100%;
  padding-top: 0px;
  min-width: 1000px;
}

#bottomContainer {
  margin-top: 2%;
  width: 100%;
  height: 20%;
  border-radius: 13px;
  display: inline-block;
  background-color: var(--article-color);
  opacity: 1;
  transition: opacity 0.2s linear;
}

.article {
  width: 94%;
  height: 94%;
  position: relative;
  text-align: left;
  margin: 2.5% 3% 3% 3%;
}

#menu {
  background-color: var(--menu-color);
  border-radius: 13px;
  width: 60%;
  min-width: 1000px;
  height: 60px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.3%;
  text-align: left;
}

#menu_name {
  display: inline-block;
  margin-left: 1em;
  margin-top: 0.7em;
  color: black;
}

#numworksLogo {
  float: right;
  width: auto;
  height: 100%;
  margin-right: 7px;
}

#txtEditor {
  float: left;
  background-color: var(--txtEditor-bg-color);
  color: rgb(55,45,45);
  border-radius: 13px;
  width: 22.8%;
  height: 225px;
  min-height: 0px;
  margin-right: 1.7%;
  display: block;
  background-image: var(--numworksImg);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  opacity: 1;
}

.triggerTxtEditor {
  display: block;
  position: relative;
  animation: TxtEditor;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes TxtEditor {
  0%   {width: 24%;height: 11.75vw;min-height: 0px;}
  100% {width: 47%;height: 28vw;min-height: 470px;}
}

#txtEditorSubDiv {
  background-color: var(--txtEditorSubDiv-bg-color);
  transition: opacity 0.3s ease-out;
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 13px;
}

#txtEditorArea {
  resize: none;
  background-color: var(--txtEditorArea-bg-color);
  z-index: 1;
  border: none;
  color: var(--txtEditorArea-text-color);
  position:absolute;
  bottom: 42.6%;
  width: 52.6%;
  height: 29.5%;
  transform: translateX(-50%);
  visibility: hidden;
}
#txtEditorArea:focus {
  outline: none !important;
}

#imgEditor {
  float: right;
  background-color: var(--imgEditor-bg-color);
  color: rgb(55,45,45);
  border-radius: 13px;
  margin-left: 1.7%;
  width: 22.8%;
  height: 225px;
  display: block;
  position: relative;
}

.triggerImgEditor {
  animation: ImgEditor;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes ImgEditor {
  0%   {width: 24%;height: 11.75vw;}
  100% {width: 47%;height: 28vw;}
}

#imgEditorSubDiv {
  transition: opacity 0.3s ease-out;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 13px;
}

#preview {
  border-radius: 15px;
  width: 90%;
  height: 90%;
  margin: 5% 5% 5% 5%;
  display: inline-block;
  visibility: hidden;
}

#imgContainer {
  display: inline-block;
  width: 100%;
  height: 24vw;
  position: relative;
}

#inputFile::-webkit-file-upload-button {
  visibility: hidden;
}

#inputFile {
  float: left;
  margin: 2.5% 2.5%;
}

#inputFile::before {
  content: 'Selectionner une image';
  display: inline-block;
  background-color: var(--inputFile-bg-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 18px 12px;
}

#add_program {
  float: none;
  border-radius: 13px;
  width: 51%;
  height: 200%;
  background-color: var(--add_program-bg-color);
  display: flex;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 0px;
  z-index: 5;
  color: var(--add_program-text-color);

  animation: AddProgramReveal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-play-state: paused;
}

@keyframes AddProgramReveal {
  0%
  {padding-top: 70px;
  padding-bottom: 0px;}
  45%
  {padding-top: 30px;
  padding-bottom: 40px;}
  55%
  {background-color: var(--add_program-bg-color);
  color: var(--add_program-text-color);
  padding-top: 30px;
  padding-bottom: 40px;}
  100%
  {background-color: var(--add_program-bg-color-reveal);
  color: var(--add_program-text-color-reveal);
  padding-top: 70px;
  padding-bottom: 0px;}
}

.turnIntoButton {
  animation: AddProgramToButton;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-play-state: running;
}

@keyframes AddProgramToButton {
  from
  {background-color: var(--add_program-bg-color);}
  to
  {background-color: var(--AddProgramToButton-bg-color);}
}

#ajouteruncours {
  text-align: center;
}

#inputType {
  height: 70px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
}

.triggerInputType {
  animation: showInputType;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes showInputType {
  from {opacity: 0;}
  to {opacity: 1;}
}

.input {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 40%;
  height: 100%;
  text-decoration: underline;
}

#inputImg {
  float: left;
  border-right: solid 2px rgb(210,210,210);
}

#inputTxt {
  float: right;
  border-left: solid 2px rgb(210,210,210);
}
